﻿<div class="row">
    <div class="large-6 columns large-centered">
        <accessory-detail accessory="mainCtrl.accessoryDetail" main-ctrl="mainCtrl"></accessory-detail>
        <md-button ng-click="cartCtrl.addAccessory(mainCtrl.accessoryDetail); toastCtrl.showAddToCart(mainCtrl.accessoryDetail)" class="md-raised md-primary title"> Add to cart </md-button>
    </div>
    <md-button class="md-raised md-primary title" ng-click="mainCtrl.setLastPageActive()">Back</md-button>
</div>