﻿<!--STEP 1-->
<div class="row">
    <div class="large-6 columns large-centered">
        <h1 class="step md-display-4">1</h1>
        <div class="small-6 small-centered columns">
            <img src="./icons/plan.png" alt="plan">
        </div>
        <h2>Choose your plan</h2>
        <p>In the products page you can choose one of the three subscription boxes to buy. You can also check out the awesome cooking accessories there!</p>
        <img src="./icons/arrow_down.png" class="arrow" alt="arrow">
        <br />
    </div>
</div>
<!--STEP 2-->
<div class="row">
    <div class="large-6 columns large-centered">
        <h1 class="step md-display-4">2</h1>
        <div class="small-6 small-centered columns">
            <img src="./icons/recipe_yellow.png" alt="recipe">
        </div>
        <h2>Recieve recipes every month</h2>
        <p>You will then recieve the box of your choice every month with new spices.</p>
        <img src="./icons/arrow_down.png" class="arrow" alt="arrow">
        <br />
    </div>
</div>
<!--STEP 3-->
<div class="row">
    <div class="large-6 columns large-centered">
        <h1 class="step md-display-4">3</h1>
        <div class="small-6 small-centered columns">
            <img src="./icons/meal.png" alt="meal">
        </div>
        <h2>Enjoy awesome meals!</h2>
        <p>You can use our spices to up your cooking game and make your meals extra awesome!</p>
    </div>
</div>
