﻿<div ng-app="productsMod" ng-controller="ProductsController as productsCtrl">

    <div class="row" ng-hide="hasProducts">
        <h1 class="prodSubtitle">>All sold out, check back later</h1>
    </div>

    <div class="row">
        <div class="large-12 columns">
            <h2 class="prodSubtitle">Subscriptions</h2>
        </div>
        <subscriptions subscriptions="subscriptions" cart-ctrl="cartCtrl" main-ctrl="mainCtrl" toast-ctrl="addToCartCtrl"></subscriptions>

        <div class="large-12 columns">
            <h2 class="prodSubtitle">Accessories</h2>
        </div>

        <div class="row" ng-repeat="category in accessories">
            <div class="large-12 columns">
                <h2 class="prodSubtitle">{{category.category}}</h2>
            </div>
            <accessories accessories="category.accessories" cart-ctrl="cartCtrl" main-ctrl="mainCtrl" toast-ctrl="addToCartCtrl"></accessories>
        </div>
    </div>
</div>
