﻿
<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="csrf-token" content="{{ csrf_token() }}">
        <title>Spicebox</title>
        <link rel="stylesheet" href="css/foundation.css" />
        <link rel="stylesheet" href="css/styles.css" />
        <link rel="stylesheet" href="css/homepage.css" />
        <link href="node_modules/angular-material/angular-material.css" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>

    <body ng-app="mainMod" ng-controller="MainController as mainCtrl">
        <div ng-app="userMod" ng-controller="UserController as userCtrl">
            <div ng-class="{'homepageBackground': mainCtrl.isCurrentlyHomePage()}">
                <nav-desktop></nav-desktop>
                <nav-mobile></nav-mobile>
                <subtitle></subtitle>
            </div>

            <home ng-show="mainCtrl.isCurrentlyHomePage()"></home>
            <join ng-show="mainCtrl.isCurrentlyJoinPage()"></join>
            <profile ng-show="mainCtrl.isCurrentlyProfilePage()"></profile>
            <howitworks ng-show="mainCtrl.isCurrentlyHowPage()"></howitworks>

            <div ng-app="toastMod" ng-controller="AddToCartController as addToCartCtrl">
                <div ng-app="cartMod" ng-controller="CartController as cartCtrl">
                      <div layout="row" id="pricetoast" ng-hide="cartCtrl.totalPrice() <= 0">Cart total: {{cartCtrl.totalPrice() | currency:"€"}} (incl BTW)</div>
                      <div layout="row" id="addtocarttoast"></div>
                      <products ng-show="mainCtrl.isCurrentlyProductsPage()"></products>
                      <cart ng-show="mainCtrl.isCurrentlyCartPage()"></cart>
                      <subscriptionpage ng-show="mainCtrl.isSubscriptionPageActive()"></subscriptionpage>
                      <accessorypage ng-show="mainCtrl.isAccessoryPageActive()"></accessorypage>
                </div>
            </div>
        </div>

        <!-- SCRIPTS - OTHER -->
        <script src="js/vendor/what-input.min.js"></script>
        <script src="js/vendor/jquery.min.js"></script>
        <script src="js/foundation.min.js"></script>
        <script src="js/app.js"></script>

        <!-- SCRIPTS - ANGULAR-->
        <script src="node_modules/angular/angular.js" type="text/javascript"></script>
        <script src="node_modules/angular-material/angular-material.js" type="text/javascript"></script>
        <script src="node_modules/angular-animate/angular-animate.js" type="text/javascript"></script>
        <script src="node_modules/angular-aria/angular-aria.js" type="text/javascript"></script>

        <!-- SCRIPTS - MODULES-->
        <script src="js/modules/products-module.js"></script>
        <script src="js/modules/cart-module.js"></script>
        <script src="js/modules/user-module.js"></script>
        <script src="js/modules/main-module.js"></script>
        <script src="js/modules/toast-module.js"></script>

    </body>
</html>
