﻿
<div class="row" ng-repeat="accessory in accessories" ng-if="$index % 3 == 0">
    <div class="small-12 large-4 columns subrowA">
        <accessory accessory="accessories[$index]" main-ctrl="mainCtrl"></accessory>
        <md-button ng-click="addToCart($index)" class="md-raised md-primary title btnadd"> Add to cart </md-button>
    </div>
    <div class="small-12 large-4 columns subrowA" ng-if="($index + 1) < accessories.length">
        <accessory accessory="accessories[$index + 1]" main-ctrl="mainCtrl"></accessory>
        <md-button ng-click="addToCart($index + 1)" class="md-raised md-primary title btnadd"> Add to cart </md-button>
    </div>
    <div class="small-12 large-4 columns subrowA" ng-if="($index + 2) < accessories.length">
        <accessory accessory="accessories[$index + 2]" main-ctrl="mainCtrl"></accessory>
        <md-button ng-click="addToCart($index + 2)" class="md-raised md-primary title btnadd"> Add to cart </md-button>
    </div>
</div>
