﻿<!-- TODO: css properly => See: http://jsfiddle.net/AhakQ/13/-->
<ul class="rating">
    <li ng-repeat="star in stars" ng-class="star" ng-click="toggle($index)">
        &#9733
    </li>
</ul>

<p ng-show="ratingValue < 0">Not rated yet</p>
<p ng-hide="ratingValue < 0">Rating: {{ratingValue}} out of {{max}}</p>
