﻿<div class="row">
    <!-- Show the current total price in the cart -->
    <div>

        <md-button ng-hide="userCtrl.userLoggedIn()" ng-click="mainCtrl.setJoinPageActive()" class="md-primary md-raised title">Log in to check out</md-button>
        <div ng-show="userCtrl.userLoggedIn()">
            <p class="small-4-centered" ng-hide="userCtrl.userHasAddress()">Please fill provide an address to check out</p>
            <md-button ng-show="userCtrl.userHasAddress()" ng-click="cartCtrl.checkout(userCtrl)" class="md-primary md-raised title">Checkout</md-button>
        </div>
        <h1 class="cartTotal">Cart total (incl BTW): {{cartCtrl.totalPrice() | currency:"€"}}</h1>
    </div>

    <!-- Show subscription in cart if user added one -->
    <div ng-show="cartCtrl.hasSubscriptions()">
        <h3>Subscriptions</h3>
        <div class="row">
            <cartsubscriptions subscriptions="cartCtrl.subscriptions" cart-ctrl="cartCtrl"></cartsubscriptions>
        </div>
    </div>

    <!-- Show accessories in cart if user added at least one -->
    <div ng-show="cartCtrl.hasAccessories()">
        <cartaccessories accessories="cartCtrl.accessories" cart-ctrl="cartCtrl"></cartaccessories>
    </div>

    <!-- Hide if something in cart -->
    <!-- BUG: Doesn't hide when needs to-->
    <div ng-hide="(cartCtrl.hasAccessories() || cartCtrl.hasSubscription())">
        <!--<h3>Cart is empty</h3>-->
    </div>

</div>
