﻿
<div class="row">
    <div class="large-4 medium-4 small-4 columns">
        <img src="./icons/formula_yellow.png" class="imgHome" alt="formula" />
        <br />
        <h4>Choose delicious spices</h4>
    </div>
    <div class="large-4 medium-4 small-4 columns">
        <img src="./img/homepageSpoons.jpg"  alt="placeholder" />
    </div>
    <div class="large-4 medium-4 small-4 columns">
        <img src="./icons/recipe_yellow.png" class="imgHome" id="iconRecipe" alt="recipe" />
        <br />
        <h4>Make your food spicey</h4>
    </div>
</div>
<div class="row">
    <div class="large-4 medium-4 small-4 columns">
        <img src="./icons/date_yellow.png" class="imgHome" alt="date" />
        <br />
        <h4>Delivered in time</h4>
    </div>
    <div class="large-4 medium-4 small-4 columns">
        <img src="./icons/cancel_yellow.png" class="imgHome" alt="cancel" />
        <br />
        <h4>Easy Cancel</h4>
    </div>
</div>
<div class="row">
    <div class="small-12 large-12 columns">
        <h3>Bring some extra flavour into your life! </h3>
    </div>
</div>
<div class="row">
    <div class="large-12 columns">
        <md-button class="md-primary md-raised title" ng-click="mainCtrl.setJoinPageActive()">Register now</md-button>
        <md-button class="md-warn md-raised title" ng-click="mainCtrl.setProductsPageActive()">Go to shop</md-button>
    </div>
</div>

