﻿
<!-- LOGIN FORM -->
<form name="singinForm" ng-controller="LoginController as loginCtrl" ng-submit="loginCtrl.logIn(mainCtrl, userCtrl)" layout="column" layout-align="center center" style="margin-bottom: 25px" layout-fill="layout-fill" novalidate>
    <div layout="column" class="loginBox md-whiteframe-z1">
        <md-toolbar>
            <h2 class="md-toolbar-tools"><span>Login</span></h2>
        </md-toolbar>
        <md-content layout="column" class="md-padding">
            <md-input-container>
                <label>EmailAddress</label>
                <input type="email" name="email" ng-model="loginCtrl.data.email" required/>
                <p ng-show="singinForm.email.$invalid && !singinForm.email.$pristine">Invalid e-mail</p>
            </md-input-container>
            <md-input-container>
                <label>Password</label>
                <input type="password" name="pass" ng-minlength="6" ng-maxlength="16"  ng-model="loginCtrl.data.password" required/>
                <p ng-show="singinForm.pass.$invalid && !singinForm.pass.$pristine">Password must be between 6 and 16 characters</p>
            </md-input-container>
            <div layout="row" layout-align="center center" style="padding-top:20px;">
                <md-button ng-click="loginCtrl.logIn(mainCtrl, userCtrl)" class="md-warn md-raised title" value="Submit" ng-disabled="singinForm.$invalid">Login</md-button>
            </div>
        </md-content>
    </div>
</form>
<!-- REGSITER FORM -->
<form name="registerForm" ng-controller="RegisterController as registerCtrl" ng-submit="registerCtrl.register(mainCtrl, userCtrl)" layout="column" layout-align="center center" layout-fill="layout-fill" novalidate>
    <div layout="column" class="loginBox md-whiteframe-z1">
        <md-toolbar>
            <h2 class="md-toolbar-tools"><span>Register</span></h2>
        </md-toolbar>
        <md-content layout="column" class="md-padding">

            <md-input-container>
                <label>EmailAddress</label>
                <input type="email" name="email" ng-model="registerCtrl.data.email" required/>
                <p ng-show="registerForm.email.$invalid && !registerForm.email.$pristine">Invalid e-mail</p>
            </md-input-container>
            <md-input-container>
                <label>Name</label>
                <input type="text" name="name" ng-model="registerCtrl.data.name" required/>
                <p ng-show="registerForm.name.$invalid && !registerForm.name.$pristine">Please enter your name</p>
            </md-input-container>
            <md-input-container>
                <label>Street</label>
                <input type="text" name="street" ng-model="registerCtrl.data.street" required/>
                <p ng-show="registerForm.street.$invalid && !registerForm.street.$pristine">Please enter your street</p>
            </md-input-container>
            <md-input-container>
                <label>Number</label>
                <input type="number" name="number" ng-model="registerCtrl.data.number" required/>
                <p ng-show="registerForm.number.$invalid && !registerForm.number.$pristine">Please enter your number</p>
            </md-input-container>
            <md-input-container>
                <label>Postcode</label>
                <input type="text" name="postcode" ng-model="registerCtrl.data.postcode" required/>
                <p ng-show="registerForm.postcode.$invalid && !registerForm.postcode.$pristine">Please enter your postcode</p>
            </md-input-container>
            <md-input-container>
                <label>City</label>
                <input type="text" name="city" ng-model="registerCtrl.data.city" required/>
                <p ng-show="registerForm.city.$invalid && !registerForm.city.$pristine">Please enter your city</p>
            </md-input-container>
            <md-input-container>
                <label>Password</label>
                <input type="password" name="pass" ng-minlength="6" ng-maxlength="16" name="pass" ng-model="registerCtrl.data.password" required/>
                <p ng-show="registerForm.pass.$invalid && !registerForm.pass.$pristine">Password must be between 6 and 16 characters</p>
            </md-input-container>
            <md-input-container>
                <label>Repeat password</label>
                <input type="password" ng-minlength="6" ng-maxlength="16" name="repeatpass" ng-model="registerCtrl.data.repeatPassword" required/>
                <p ng-show="registerForm.repeatpass.$invalid && !registerForm.repeatpass.$pristine">Repeat password must be between 3 and 16 characters</p>
                <p ng-show="!registerCtrl.passwordMatches() && !registerForm.repeatpass.$pristine">Repeat password must be the same as password</p>
            </md-input-container>
            <div layout="row" layout-align="center center" style="padding-top:20px;">
                <md-button ng-click="registerCtrl.register(mainCtrl, userCtrl)" class="md-warn md-raised title" value="Register" ng-disabled="(registerForm.$invalid || !registerCtrl.passwordMatches())">Register</md-button>
            </div>
        </md-content>
    </div>
</form>



