﻿<div ng-app="productsMod" ng-controller="ProductsController as productsCtrl">




        <div class="row" ng-repeat="category in accessories">
            <div class="large-12 columns">
                <h2 class="prodSubtitle">{{category.category}}</h2>
            </div>
            <accessories accessories="category.accessories" cart-ctrl="cartCtrl" main-ctrl="mainCtrl" toast-ctrl="addToCartCtrl"></accessories>
        </div>
    </div>
</div>
