﻿<div class="row" ng-hide="userCtrl.userLoggedIn()">
    <div>Please login or create account to see profile</div>
    <md-button ng-click="mainCtrl.setJoinPageActive()" class="md-raised">Log in or register</md-button>
</div>

<div class="row" ng-show="userCtrl.userLoggedIn()">
    <h3>Logged in as {{userCtrl.user.name}}</h3>
    <h2>User data</h2>
    <div class="row">
        <div class="small-12 large-5-centered columns">
            <addressform disabled="!userCtrl.inEditMode"
                         edit="userCtrl.startEditUser()"
                         address="userCtrl.user.address"
                         submit="userCtrl.updateUser()"
                         cancel="userCtrl.cancelEditUser()">
            </addressform>
        </div>
    </div>

    <!-- PURCHASES
    <h2 class="row prodSubtitle">Purchases</h2>
    <div class="row" ng-hide="userCtrl.hasPurchases()">No purchases made yet</div>
    <div class="row" ng-show="userCtrl.hasPurchases()">
        <profilesaccessories accessories="userCtrl.purchases()"
                             onRatingSelected="userCtrl.ratingChanged(accessory, rating)">
        </profilesaccessories>
    </div>
    -->
    <!-- LOGOUT -->
    <div ng-show="userCtrl.hasUnsavedChanges()">
        <md-button ng-click="userCtrl.updateChanges()" class="md-raised">Save changes</md-button>
    </div>
</div>
