﻿<div class="row">
    <div class="large-6 columns large-centered">
        <subscription-detail subscription="mainCtrl.subscriptionDetail"></subscription-detail>
        <md-button ng-click="cartCtrl.addSubscription(mainCtrl.subscriptionDetail); toastCtrl.showAddToCart(mainCtrl.subscriptionDetail)" class="md-raised md-primary title"> Add to cart </md-button>
    </div>
    <md-button class="md-raised md-primary title" ng-click="mainCtrl.setLastPageActive()">Back</md-button>
</div>