
@font-face {
  font-family: SourceSansPro-Bold;
  src: url(../fonts/SourceSansPro-Bold.otf);
}


@font-face {
  font-family: SourceSansPro-Light;
  src: url(../fonts/SourceSansPro-Light.otf);
}


@font-face {
  font-family: SourceSansPro-Regular;
  src: url(../fonts/SourceSansPro-Regular.otf);
}

@font-face {
  font-family: Condiment;
  src: url(../fonts/Condiment-Regular.otf);
}


.content {
  height: 100%;
  margin: auto;
  width: 100%;
}

.transparent {
    background-color: transparent !important;
}

h1 {
  font-size: 80px;
  text-align: center;
  font-family: SourceSansPro-Bold;
}

h2 {
  font-family: SourceSansPro-Regular;
  text-align: center;
}

h3 {
  font-family: SourceSansPro-Light;
  font-size: 30px;
  text-align: center;
}
.cartTotal {
  font-size: 30px;
}

p {
  font-size: 18px;
  font-family: SourceSansPro-Regular;
  text-align: justify;
}

.pcenter {
    text-align: center;
}

.homepageIcon {
    color: white;
}

.title {
    color: white !important;
}

.homepageTitle {
    color: #faa61f !important;
}

.logo {
  font-family: Condiment;
}


#mobileTitle {
    font-size: 50px;
}

.prodSubtitle {
    color: black;
}

.subtitle {
    color: black;
}

.step {
    color: black;
    font-family: SourceSansPro-Light;
}

.loginBox {
  max-width:  90%;
  width: 500px
}

.stretch input  {
  width: 100%
}

label {
  cursor: pointer;
  font-family: SourceSansPro-Light;
  float: left;
}

.row {
  text-align: center;
  width: 100%;
  padding-bottom: 20px;
}

.arrow {
  height: 160px;
}

.btnNav {
    color: white !important;
}



#addtocarttoast {
    position: fixed !important;
    position: absolute; /* ie6 value b/c !important ignored */
    width: 100%;
    top: 40px;
    z-index: 5;
    height: 100px;
    pointer-events: none;
}

.rating {
    color: #a9a9a9;
    margin: 0;
    padding: 0;
}
ul.rating {
    display: inline-block;
}
.rating li {
    list-style-type: none;
    display: inline-block;
    padding: 1px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}
.rating .filled {
    color: red;
}

/*MEDIA QUERY*/
@media only screen and (max-width: 640px) {
  .desktopNav {
    display: none;
  }
  #pricetoast {
      position: fixed !important;
      position: absolute;
      width: 100%;
      bottom: 0px;
      z-index: 5;
      height: 30px;
      pointer-events: none;
      background-color: #323232;
      color: white;
      font-size: 20px;
      border-radius: 5px;
  }
}

@media only screen and (min-width: 640px) {
  .mobileNav {
    display: none;
  }
  #pricetoast {
      position: fixed !important;
      position: absolute;
      width: 20%;
      top: 0px;
      right: 0px;
      z-index: 5;
      height: 30px;
      pointer-events: none;
      background-color: #323232;
      color: white;
      font-size: 15px;
      border-radius: 2px;
      margin: 10px;
      padding-left: 10px;
      padding-top: 5px;
  }
}
