﻿<form name="addressForm" ng-submit="submit()">

    <div class="row">
        <p class="small-1 large-1">Name</p>
        <input class="small-4 large-4" name="name" type="text" placeholder="Name" ng-model="address.name" ng-disabled="disabled" required/>
        <p ng-show="addressForm.name.$invalid && !addressForm.name.$pristine">Please fill in your name</p>
    </div>
    <div class="row">
        <p class="small-1 large-1">Street</p>
        <input class="small-4 large-4" name="street" type="text" placeholder="Street + Nr" ng-model="address.street" ng-disabled="disabled" required/>
        <p ng-show="addressForm.street.$invalid && !addressForm.street.$pristine">Please fill in your street</p>
    </div>
    <div class="row">
        <p class="small-1 large-1">Nr</p>
        <input class="small-4 large-4" name="number" type="text" placeholder="Nr" ng-model="address.number" ng-disabled="disabled" required/>
        <p ng-show="addressForm.number.$invalid && !addressForm.number.$pristine">Please fill in your number</p>
    </div>
    <div class="row">
        <p class="small-1 large-1">Postal Code</p>
        <input class="small-4 large-4" name="pc" type="text" placeholder="Postal Code" ng-model="address.postalCode" ng-disabled="disabled" required/>
        <p ng-show="addressForm.pc.$invalid && !addressForm.pc.$pristine">Please fill in your post code</p>
    </div>
    <div class="row">
        <p class="small-1 large-1">City</p>
        <input class="small-4 large-4" name="city" type="text" placeholder="City" ng-model="address.city" ng-disabled="disabled" required/>
        <p ng-show="addressForm.city.$invalid && !addressForm.city.$pristine">Please fill in your city</p>
    </div>


    <md-button ng-show="disabled" ng-click="onEditClick()" class="md-raised md-primary title">Edit</md-button>
    <div class="row" ng-hide="disabled">
        <md-button class="medium secondary button" type="button" ng-click="cancel()" class="md-raised md-primary title">Cancel</md-button>
        <md-button class="medium secondary button" type="submit" class="md-raised md-primary title" ng-disabled="addressForm.$invalid">Save</md-button>
    </div>

</form>
