﻿<div class="desktopNav" style="margin-bottom: 25px">
    <md-toolbar  layout="row" layout-align="center center">
        <md-button ng-click="mainCtrl.setHomePageActive()"><h1 class="title logo">Spicebox</h1></md-button>
    </md-toolbar>

        <md-toolbar  layout="row" layout-align="center center">
            <md-button ng-click="mainCtrl.setProductsPageActive()" class="btnNav">Products</md-button>
            <md-button ng-show="userCtrl.userLoggedIn()" ng-click="mainCtrl.setProfilePageActive()" class="btnNav">Profile</md-button>
            <md-button ng-click="mainCtrl.setCartPageActive()" class="btnNav">Cart</md-button>
            <md-button ng-click="mainCtrl.setJoinPageActive()" class="btnNav" ng-show="userCtrl.userLoggedOut()">Login</md-button>
            <md-button ng-click="userCtrl.logoutUser()" class="btnNav" ng-show="userCtrl.userLoggedIn()">Logout</md-button>
        </md-toolbar>
    </div>
