<div class="row" ng-repeat="accessory in accessories" ng-if="$index % 3 == 0">
    <div class="small-12 large-4 columns">
        <accessory accessory="accessories[$index].accessory"></accessory>
        <p>Amount: {{accessories[$index].amount}}</p>
        <p>Date of Purchase: {{accessories[$index].purchaseDate.toLocaleString()}}</p>
        <div star-rating rating-value="accessories[$index].rating" max="5" can-change-rating="true"
             on-rating-selected="onRatingSelected({accessory: accessories[$index].accessory, rating: accessories[$index].rating})"></div>
        <h3>Status: {{accessories[$index].status}}</h3>
    </div>
    <div class="small-12 large-4 columns" ng-if="($index + 1) < accessories.length">
      <accessory accessory="accessories[$index + 1].accessory"></accessory>
      <p>Amount: {{accessories[$index + 1].amount}}</p>
      <p>Date of Purchase: {{accessories[$index + 1].purchaseDate.toLocaleString()}}</p>
      <div star-rating rating-value="accessories[$index + 1].rating" max="5" can-change-rating="true"
           on-rating-selected="onRatingSelected({accessory: accessories[$index + 1].accessory, rating: accessories[$index + 1].rating})"></div>
      <h3>Status: {{accessories[$index + 1].status}}</h3>
    </div>
    <div class="small-12 large-4 columns" ng-if="($index + 2) < accessories.length">
      <accessory accessory="accessories[$index + 2].accessory"></accessory>
      <p>Amount: {{accessories[$index + 2].amount}}</p>
      <p>Date of Purchase: {{accessories[$index + 2].purchaseDate.toLocaleString()}}</p>
      <div star-rating rating-value="accessories[$index + 2].rating" max="5" can-change-rating="true"
           on-rating-selected="onRatingSelected({accessory: accessories[$index + 2].accessory, rating: accessories[$index + 2].rating})"></div>
      <h3>Status: {{accessories[$index + 2].status}}</h3>
    </div>
</div>
