﻿<h3><a ng-click="redirect(accessory)">{{accessory.name}}</a></h3>

<!-- In case of promotion -->
<div ng-show="{{(100 - accessory.promotion) !== 0}}">
    <h3><strike>{{getBtwPrice(accessory) | currency:"€"}} </strike> <br /> {{getPromotedPrice(accessory) | currency:"€"}}  </h3>
</div>
<!-- In case of no promotion -->
<div ng-hide="{{(100 - accessory.promotion) !== 0}}">
    <h3>{{getBtwPrice(accessory) | currency:"€"}}</h3>
</div>
<br />
<div star-rating rating-value="accessory.rating" max="5" can-change-rating="false" product="accessory"></div>
<p> {{accessory.description}} </p>
<img ng-src="{{accessory.imgURL}}" />
