﻿
<div ng-show="{{(100 - accessory.promotion) !== 0}}">
    <h3>{{accessory.promotion_description}}</h3>
    <h3><strike>{{getBtwPrice(accessory) | currency:"€"}} </strike> {{getPromotedPrice(accessory) | currency:"€"}}  </h3>
</div>
<!-- In case of no promotion -->
<div ng-hide="{{(100 - accessory.promotion) !== 0}}">
    <h3>{{getBtwPrice(accessory) | currency:"€"}} (incl {{accessory.btw}}% BTW) </h3>
</div>
<br/>
<img ng-src="{{accessory.imgURL}}" />
<h3> Description</h3>
<p class="pcenter"> {{accessory.description}} </p>
<h3> Specifications</h3>
<p class="pcenter"> {{accessory.specifications}} </p>
<h3> Category</h3>
<p class="pcenter"> {{accessory.categorie}} </p>
