﻿<div class="row" ng-repeat="accessory in accessories" ng-if="$index % 3 == 0">

    <div class="small-12 large-4 columns">
        <accessory accessory="accessories[$index].accessory" can-change-rating="false"></accessory>
        <md-button ng-click="removeFromCart($index)" class="md-primary md-raised title">Remove 1 ({{accessory.amount}})</md-button>
        <md-button ng-click="removeAllFromCart($index)" class="md-primary md-raised title">Remove All</md-button>
    </div>

    <div class="small-12 large-4 columns" ng-if="($index + 1) < accessories.length">
        <accessory accessory="accessories[$index + 1].accessory" can-change-rating="false"></accessory>
        <md-button ng-click="removeFromCart($index + 1)" class="md-primary md-raised title">Remove 1 ({{accessory.amount}})</md-button>
        <md-button ng-click="removeAllFromCart($index + 1)" class="md-primary md-raised title">Remove All</md-button>
    </div>

    <div class="small-12 large-4 columns" ng-if="($index + 2) < accessories.length">
        <accessory accessory="accessories[$index + 1].accessory" can-change-rating="false"></accessory>
        <md-button ng-click="removeFromCart($index + 2)" class="md-primary md-raised title">Remove 1 ({{accessory.amount}})</md-button>
        <md-button ng-click="removeAllFromCart($index + 2)" class="md-primary md-raised title">Remove All</md-button>
    </div>

</div>
