﻿<div class="desktopNav">
        <md-toolbar ng-class="{'transparent': mainCtrl.isCurrentlyHomePage()}" layout="row" layout-align="center center">
            <md-button ng-click="mainCtrl.setHowPageActive()" class="btnNav">How it works</md-button>
            <md-button ng-click="mainCtrl.setProductsPageActive()" class="btnNav">Products</md-button>
            <md-button ng-click="mainCtrl.setHomePageActive()"><h1 ng-class="{'homepageTitle': mainCtrl.isCurrentlyHomePage()}" class="title logo">Spicebox</h1></md-button>
            <md-button ng-show="userCtrl.userLoggedIn()" ng-click="mainCtrl.setProfilePageActive()" class="btnNav">Profile</md-button>
            <md-button ng-click="mainCtrl.setCartPageActive()" class="btnNav">Cart</md-button>
            <md-button ng-click="mainCtrl.setJoinPageActive()" class="btnNav">Login</md-button>
        </md-toolbar>
    </div>
