﻿<div class="mobileNav">
    <md-toolbar ng-class="{'transparent': mainCtrl.isCurrentlyHomePage()}">
        <div class="md-primary" ng-controller="MobileNavController as mnCtrl">
            <div layout="row">
                <div layout-align="start center" layout="column">
                    <div class="menus" layout-wrap layout="row" layout-fill layout-align="space-between center">
                        <div layout="column" layout-align="center center">

                            <md-menu>
                                <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                                    <i class="material-icons title">menu</i>
                                </md-button>
                                <md-menu-content>
                                    <md-button ng-click="mainCtrl.setHomePageActive()">Home</md-button>
                                    <md-button ng-click="mainCtrl.setHowPageActive()">How it works</md-button>
                                    <md-button ng-click="mainCtrl.setProductsPageActive()">Products</md-button>
                                    <md-button ng-show="userCtrl.userLoggedIn()" ng-click="mainCtrl.setProfilePageActive()">Profile</md-button>
                                    <md-button ng-click="mainCtrl.setCartPageActive()">Cart</md-button>
                                    <md-button ng-click="mainCtrl.setJoinPageActive()">Login</md-button>
                                </md-menu-content>
                            </md-menu>

                        </div>
                    </div>
                </div>
                <div flex="80" layout-align="center center">
                    <md-button ng-click="mainCtrl.setHomePageActive()"><h2 ng-class="{'homepageTitle': mainCtrl.isCurrentlyHomePage()}" class="title logo" id="mobileTitle">Spicebox</h2></md-button>
                </div>
            </div>
        </div>
    </md-toolbar>
</div>
