﻿<h3>{{subscription.name}}</h3>
<h3>{{subscription.price | currency:"€"}}/month</h3>
<img class="imgProd" ng-src="{{subscription.img}}"/>
<h3>Description</h3>
<p>Spices: {{subscription.spicesAmount}}</p>
<br/>
<p>{{subscription.description}}</p>
