﻿<h3><a ng-click="redirect(subscription)">{{subscription.name}}</a></h3>
<h3>{{subscription.price | currency:"€"}}/month</h3>
<h3>Spices: {{subscription.spicesAmount}}</h3>
<br/>
<p> <br/> {{subscription.description}} </p> <br />
<img class="imgProd" ng-src="{{subscription.img}}" />
