﻿<div class="row " ng-repeat="subscription in subscriptions" ng-if="$index % 3 == 0">
    <div class="small-12 large-4 columns subrow ">
        <subscription subscription="subscriptions[$index]" main-ctrl="mainCtrl"></subscription>
        <md-button ng-click="AddToCart($index)" class="md-raised md-primary title btnadd"> Add to cart </md-button>
    </div>
    <div class="small-12 large-4 columns subrow" ng-if="($index + 1) < subscriptions.length">
        <subscription subscription="subscriptions[$index + 1]" main-ctrl="mainCtrl"></subscription>
        <md-button ng-click="AddToCart($index + 1)" class="md-raised md-primary title btnadd"> Add to cart </md-button>
    </div>
    <div class="small-12 large-4 columns subrow" ng-if="($index + 2) < subscriptions.length">
        <subscription subscription="subscriptions[$index + 2]" main-ctrl="mainCtrl"></subscription>
        <md-button ng-click="AddToCart($index + 2)" class="md-raised md-primary title btnadd"> Add to cart </md-button>
    </div>
</div>
