﻿<div class="row" ng-repeat="subscription in subscriptions track by $index" ng-if="$index % 3 == 0">
    <div class="small-12 large-4 columns">
        <subscription subscription="subscriptions[$index]"></subscription>
        <md-button ng-click="removeFromCart($index)" class="md-primary md-raised title">Remove</md-button>
    </div>
    <div class="small-12 large-4 columns" ng-if="($index + 1) < subscriptions.length">
        <subscription subscription="subscriptions[$index + 1]"></subscription>
        <md-button ng-click="removeFromCart($index + 1)" class="md-primary md-raised title">Remove</md-button>
    </div>
    <div class="small-12 large-4 columns" ng-if="($index + 2) < subscriptions.length">
        <subscription subscription="subscriptions[$index + 2]"></subscription>
        <md-button ng-click="removeFromCart($index + 2)" class="md-primary md-raised title">Remove</md-button>
    </div>
</div>
