﻿<div class="row" ng-repeat="subscription in subscriptions" ng-if="$index % 3 == 0">
    <div class="small-12 large-4 columns">
        <subscription subscription="subscriptions[$index]"></subscription>
        <md-button ng-hide="isMarked($index)" ng-click="markForDelete($index)">Unsubscribe</md-button>
        <md-button ng-show="isMarked($index)" ng-click="unmarkForDelete($index)">Cancel unsubscribing</md-button>
    </div>
    <div class="small-12 large-4 columns" ng-if="($index + 1) < subscriptions.length">
        <subscription subscription="subscriptions[$index + 1]"></subscription>
        <md-button ng-hide="isMarked($index + 1)" ng-click="markForDelete($index + 1)">Unsubscribe</md-button>
        <md-button ng-show="isMarked($index + 1)" ng-click="unmarkForDelete($index + 1)">Cancel unsubscribing</md-button>
    </div>
    <div class="small-12 large-4 columns" ng-if="($index + 2) < subscriptions.length">
        <subscription subscription="subscriptions[$index + 2]"></subscription>
        <md-button ng-hide="isMarked($index + 2)" ng-click="markForDelete($index + 2)">Unsubscribe</md-button>
        <md-button ng-show="isMarked($index + 2)" ng-click="unmarkForDelete($index + 2)">Cancel unsubscribing</md-button>
    </div>
</div>
